@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.footer {
    @include flexbox($justify: center, $align: center, $gap: 90px);
    padding: 42px 40px;
    background: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between !important;
    align-items: stretch !important;
    gap: 90px !important;
}

.section {
    @include flexbox($direction: column, $gap: 18px, $justify: center);
    width: auto;
    max-width: 354px;
    padding: 21px 0px;
}

.navLinks {
    @include gridcolumns($minwidth: 120px, $maxwidth: 1fr, $gap: 40px);
    align-items: center;
}

.separator {
    width: 1px;
    border-color: rgba(40, 40, 40, 0.18);
}

.socialMedia {
    @include flexbox($direction: row, $gap: 26px);
    margin-top: 12px;

    li {
        width: 24px;
        height: 24px;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

@include responsive($breakpoint: medium) {
    .footer {
        padding: 20px 0px;
    }

    .container {
        @include flexbox($direction: column !important, $gap: 40px !important);
        width: 100%;
    }

    .separator {
        width: 100%;
        border-color: rgba(40, 40, 40, 0.18);
    }


    .navLinks {
        @include flexbox($justify: space-between);
        flex-wrap: wrap;
        gap: 28px;
        

    }
}
